.button {  
    display: inline-block;  
    padding: .5rem .75rem;
    color: #000;
    outline: none;
    border-radius: 7.5px;
    border: 1px solid transparent;
    background-color: #4695ee;
    
    transition: all .2s linear;
    cursor: pointer;
}

.button:hover {
    color: #ccc;
    background-color: #4695ee73;
}

.button:disabled {
    color: #eee;
    cursor: not-allowed;
    background-color: #ccc;
}

.button.outline {
    color: #fff;
    
    border: 1px solid #4695ee;
    background-color: transparent;
}

.button.outline:hover {
    background-color: #4695ee73;
}