.about_image {
    width: 100%;
    border-radius: 10%;
    transform: rotate(10deg);
    transition: transform .2s linear;
}

.about_image:hover {
    transform: rotate(0);
}

.about_image-container {
    display: flex;
    position: relative;
    margin: 2.2rem auto 0;
    width: 70%;
}

.about_image-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    
    border-radius: 10%;
    background: linear-gradient(130deg, #021225, #64a0e4a4);
}

.about_elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem 4%;

    margin-top: 3.2rem;
}

.about_element {
    padding: 1rem;

    text-align: center;
    
    border-radius: 10px;
    background-color: #2f387b;
    border: 1px solid transparent;
}

.about_element:hover {
    background: transparent;
    border: 1px solid #4695ee;
}

.about_element_icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #4695ee;
}

.about_element_name {
    margin-top: .75rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.about_element_descr {
    margin-top: .25rem;
    color: #ccc;
    font-size: .9rem;
    line-height: 1.5rem;
}

.profile {
    margin-top: 1.2rem;
}

.about_button {
    text-align: center;
    margin-top: 20px;
}


/* ==== Media queries for medium diveces ==== */

@media screen and (min-width: 600px) {
    .about_image-container {
        width: 35%;
    }
    
    .about_elements {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ==== Media queries for large diveces ==== */

@media screen and (min-width: 1024px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1rem;
    }

    .about_image-container {
        width: 75%;
        height: fit-content;
    }
}