.header {
    padding-top: 70px;
}

.header h1, .header h5 {
    text-align: center;
}

.header h5 {
    color: #ccc;
    font-size: 1rem;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    margin-top: 25px;
}

.avatar {
    display: block;
    margin: 20px auto 0;
    width: 90%;
}

/* ==== Media queries for medium diveces ==== */

@media screen and (min-width: 600px) {
    .avatar {
        width: 60%;
    }
}

/* ==== Media queries for large diveces ==== */

@media screen and (min-width: 1024px) {
    .avatar {
        width: 45%;
    }
}