footer {
    margin-top: 70px;
    padding: 1.5rem;
    padding-bottom: 8rem;
    background-color: #4695ee;
}

.footer__title {
    color: #151515;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.footer__links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-top: 20px;
}

.footer__links ul li a {
    color: #151515;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color .2s linear;
}

.footer__links ul li a:hover {
    color: #fff;
}

.footer__socials {
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #151515;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all .2s linear;
}

.footer__social:hover {
    border-color: #151515;
    background-color: transparent;
}

.footer__social:hover svg {
    fill: #151515;
}

.footer__social svg {
    fill: #fff;
}

/* ==== Media queries for medium diveces ==== */
@media screen and (min-width: 600px) {
    .footer__links ul {
        flex-direction: row;
    }
}